<div class="columns">
  <div class="column">
    <h2 class="title is-3">Recent Video Notes</h1>
    <ul>
      <% @videos.each do |video| %>
        <li>
          <%= link_to video.title, video_path(video) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
