<div class="columns">
  <div class="column">
    <p class="title is-3"><%= @video.title %></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="column">
    <form>
      <div class="field">
        <label class="label">Notes</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
