<section class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title"><%= @video.title %></h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="column">
      <!-- Notes -->
    </div>
  </div>
</section>
